a:link
{
	text-decoration: none
}
a:visited
{
	text-decoration: none
} 
a:active 
{
	text-decoration: none
}
a:hover
{
	text-decoration: underline
}
body
{
	font-family: Tahoma;
	font-size:12px
}
table
{
	font-family: Tahoma;
	font-size:12px
}

p	{ margin-top:0pt; margin-bottom:0pt; margin-left:0cm; margin-right:0cm; text-indent:0cm; font-family:"Tahoma"; font-size: 9pt; }

ol		{ font-size: 9pt; margin-top: .6em; margin-bottom: 0em; margin-left: 3.9em }	
	
ul		{ font-size: 9pt; margin-top: .6em; margin-bottom: 0em; margin-left: 2.9em; }	

li		{ font-size: 9pt; margin-bottom: .5em; margin-left: -1.6em }